@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">İnternet Programcılığı 1</h1>
    <h1 class="display-4">Dosya Yönetim Portalı</h1>
    <br />
    <br />
    <p><img src="/img/onurvesikalık.jpg" style="width:300px" /></p>
</div>
