@{
    ViewData["Title"] = "Öğrenci Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color:purple">@ViewData["Title"]</h2>
    <br />
    <br />
    <h3>Öğrenci Adı-Soyadı : İsmail Onur UYAN</h3>
    <h3>Öğrenci Numarası : 20221129046</h3>
    <h3>Bölümü : Bilgisayar Programcılığı</h3>
    <br />
    <h3>E-posta Adresim:</h3>
    <a href="mailto:onuruyan09@gmail.com"><h3>onuruyan09@gmail.com</h3></a>
</div>
